:root {
  --primary-color: #0077B6;
  --highlight-color: #0099FF;
  --background-color-light: #FFFFFF;
  --background-color-dark: #030617;
  --text-color-light: #030617;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  text-decoration: none !important;
  
}

body {
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body:not(.dark-mode) {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

h1, h2, h3, nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* ESTILOS SEGUROS PARA SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}



/* Barra deslizante */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all 0.3s ease;
}

/* Efecto hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
  border-color: rgba(255, 255, 255, 0.1);
}

/* Modo oscuro */
body.dark-mode ::-webkit-scrollbar-thumb {
  background: rgba(0, 153, 255, 0.6);
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 153, 255, 0.9);
}

/* Modo claro */
body:not(.dark-mode) ::-webkit-scrollbar-thumb {
  background: rgba(0, 119, 182, 0.4);
}

body:not(.dark-mode) ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 119, 182, 0.8);
}

/* Firefox */
* {
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;
}